<!DOCTYPE html>
	<html>
	<head>
		<title>- ooops! -</title>
		<!--In order to route the correct css file path, we have to modify the attribute of href.-->
		<link rel="stylesheet" href="/bigsu-life/css/404.css" media="all" />
		<link rel="stylesheet" href="/bigsu-life/css/bootstrap.css" media="all" />
		<meta charset="utf-8" />
	</head>
	<body class="background-blue">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>ERROR 404</h2>
					<div class="text-p">
						<p>The page is missing or never was written. You can wait and see if it becomes available again, or you can restart your computer.</p>
						<p>* You can go back to the homepage.</p>

						<p>* Press CTRL+ALT+DEL to restart your computer. You will lose unsaved information in any programs that are running.</p>
					</div>
					<div id="wrap">Press any key to continue</div>
					<div class="menu">
						<a class="menu-link" href="./">index</a> | 
						<a class="menu-link" href="mailto:peter279k@gmail.com">webmaster</a> | 
					</div>
				</div>
			</div>
		</div>
		
		<!--In order to route the correct JS file path, we have to modify the attribute of src.-->
		<!-- jQuery Version 1.11.1 -->
		<script src="/bigsu-life/js/jquery.js"></script>
	
		<!-- Bootstrap Core JavaScript -->
		<script src="/bigsu-life/js/bootstrap.min.js"></script>
	</body>
</html>
